@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

@font-face {
	font-family: "Exo 2", sans-serif;
	src: url("../fonts/Exo2.ttf");
}

:root {
	--brown: #592615;
	--cream: #faebd7;
	--gray: #767676;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

body {
	scroll-behavior: smooth;
	font-family: "Exo 2", sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

.lh-35 {
	line-height: 35px;
}

.mt-10 {
	margin-top: 10px;
}
.mb-10 {
	margin-bottom: 10px;
}
.ml-10 {
	margin-left: 10px;
}
.mr-10 {
	margin-right: 10px;
}

.mt-20 {
	margin-top: 20px !important;
}
.mb-20 {
	margin-bottom: 20px;
}

.ml-20 {
	margin-left: 20px;
}

.mr-20 {
	margin-right: 20px;
}

.ml-40 {
	margin-left: 40px !important;
}

.mt-40{
	margin-top: 40px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

.mt-60 {
	margin-top: 60px !important;
}

.section {
	margin-bottom: 100px;
}

.section-first{
	margin-top: 50px;
	margin-bottom: 60px;
}

.container {
	padding-left: 10vw;
	padding-right: 10vw;
}

.logo {
	height: 70px;
}

.nav {
	display: flex;
	padding: 20px 40px 20px 60px;
	background-color: var(--cream);
	border-radius: 0 0 20px 20px;
}

.nav-content-wrapper {
	width: 100%;
	text-align: end;
}

.nav-content-wrapper > ul {
	position: relative;
	margin-top: 20px;
	margin-right: 20px;
}

.nav-content {
	display: inline;
	margin-left: 40px;
}

.nav-links {
	font-size: 18pt;
	color: var(--gray);
	text-decoration: none;
	transition: 0.5s;
}

.nav-links:hover {
	color: var(--brown);
}

.active {
	color: var(--brown);
}

.img-wide {
	width: 100%;
}

.img-50{
	width: 10rem;
}

.radius-10 {
	border-radius: 10px;
}

.radius-20 {
	border-radius: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 20px 0;
}

.row-reverse {
	flex-direction: row-reverse;
}

.col-1 {
	flex: 1;
	margin: 0 20px 0 20px;
}

.col-2 {
	flex: 2;
	margin: 0 20px 0 20px;
}

.col-3 {
	flex: 2;
	margin: 0 20px 0 20px;
}

.btn {
	padding: 20px;
	font-size: 14pt;
	border-radius: 8px;
	border: 0px;
	cursor: pointer;
	font-family: "Exo 2", sans-serif;
}

.btn > a {
	color: white;
}

.btn-primary {
	background-color: var(--brown);
	transition: 0.3s;
	color: white;
}

.btn-primary:hover {
	background-color: var(--cream);
	color: var(--brown);
}

.card {
	border-radius: 10px;
	padding: 20px;
	background-color: brown;
}

.card-small {
	width: 25vw;
	margin-left: 0;
	margin-right: 0;
}

.card-title {
	font-size: 28pt;
}

.text-align-center {
	text-align: center;
}

.justify-content-center {
	justify-content: center;
}

.burger-bg {
	background-image: url("../images/bg-1.jpeg");
	background-size: cover;
	background-position: center;
}

.form-inline {
	display: block;
}

.input-form {
	font-family: "Exo 2", sans-serif;
	padding: 20px;
	/* height: 25px; */
	width: 100%;
	border-radius: 10px;
	background-color: #eeeeee;
	font-size: 18px;
	border: none;
	transition: 0.3s;
	box-sizing: border-box;
}

.input-form:focus {
	outline: none;
	background-color: var(--cream);
	color: var(--brown);
	transition: 0.3s;
}

.input-form::placeholder {
	font-family: "Exo 2", sans-serif;
	transition: 0.3s;

}

.input-form:focus::placeholder {
	color: transparent;
	transition: 0.3s;
}

.f-col-3{
	flex: 3;
	margin-right: 10px;
}

.f-col-1{
	flex: 1;
}

.select-form{
	height: 65px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	background-color: #eeeeee;
	font-size: 18px;
	border: none;
	font-family: 'Exo 2', sans-serif;
}

.select-form:focus{
	outline: none;
	background-color: antiquewhite;
}

.section-title {
	font-size: 40pt;
}

.menu-item {
	text-align: center;
	border-radius: 10px;
	filter: drop-shadow(0px 5px 5px #ededed);
	transition: 0.3s;
	background-color: antiquewhite;
}

.menu-item:hover {
	transform: translateY(-5%);
	transition: 0.3s;
}

.no-hover{
    pointer-events: none;
}

input[type=checkbox]
{
  transform: scale(2);
  padding: 10px;
}

.tnc{
	color: var(--brown);
}

.tnc:hover{
	text-decoration: underline;
}

.label-check{
	line-height: 25pt;
}

.menu-name{
	color: var(--brown);
}

.footer {
	position: relative;
	height: 20px;
	padding: 20px 40px 20px 40px;
	background-color: var(--cream);
	border-radius: 20px 20px 0 0;
}

.footer-content {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: var(--brown);
}

.nav-mobile{
	display: none;
}

.nav-bottom{
	display: none;
}

.link-content{
	display: flex;
	justify-content: space-evenly;
}

@media screen and (max-width: 1500px) {
	.col-2{
		flex: 1;
	}
}

@media screen and (max-width: 1104px) {
	.nav-links{
		font-size: 14pt;
	}
	.nav-content-wrapper>ul{
		margin-top: 28px;
	}
}

@media screen and (max-width: 1024px) {

	.nav{
		display: none;
	}

	.container {
		padding-left: 5vw;
		padding-right: 5vw;
	}

	#mobile-reverse{
		display: flex !important;
		flex-direction: column-reverse;
	}

	#mt-20{
		margin-top: 20px;
	}

	.card-small{
		width: auto;
	}

	.row{
		display: block;
	}

	.row-left{
		text-align: left !important;
	}

	.col-1{
		margin: 0;
	}

	.col-2{
		height: auto;
		text-align: center;
		margin: 0;
	}
	.ml-40{
		margin-left: 0 !important;
	}
	.row{
		text-align: center;
	}
	.menu-item{
		margin-top: 40px;
		padding-bottom: 5px;
	}

	.input-form{
		box-sizing: border-box;
		height: auto;
	}
	.section-title{
		font-size: 32pt;
	}

	.nav-mobile{
		display: block;
		padding: 20px 40px 20px 60px;
		background-color: var(--cream);
		border-radius: 0 0 20px 20px;
		text-align: center;
	}

	.nav-bottom{
		display: block;
		position: fixed;
		width: 100%;
		bottom: 0;
		padding: 20px 0 20px 0;
		background-color: var(--cream);
		border-radius: 20px 20px 0 0;
		text-align: center;
		z-index: 1;
		filter: drop-shadow(0px -3px 10px rgb(223, 223, 223));
	}

	.nav-content-wrapper-bottom {
		display: block;
		width: 100%;
		text-align: center;
	}

	.logo-mobile{
		width: 80%;
		max-width: 18rem;
	}

	.icon-bottom{
		width: 70%;
		height: auto;
	}

	.repeater-text{
		color: var(--brown);
	}
	
	.f-col-3{
		margin-right: 0;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 420px) {

	.section-title{
		font-size: 28pt;
	}

	.card-title{
		font-size: 22pt;
	}

	.lh-35{
		font-size: 12pt;
	}

	.btn{
		font-size: 12pt;
	}

}
